In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
country_vaccination = pd.read_csv('country_vaccinations.csv')
#number of countries in the dataset
len(country_vaccination.country.unique())

222

In [3]:
#total vaccinations grouped by country from beginning of recording to current record
country_vaccination_df = country_vaccination.groupby('country').sum()
country_vaccination_df

,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million
country,,,,,,,,,
Afghanistan,21296011.0,10866939.0,2799706.0,6874.0,2921017.0,53.49,27.29,7.02,73316.0
Albania,135862014.0,70210242.0,51405555.0,1157611.0,1708421.0,4729.01,2443.85,1789.34,594650.0
Algeria,36293703.0,20328384.0,7757754.0,30.0,13143703.0,81.34,45.57,17.38,294530.0
Andorra,935725.0,575636.0,298631.0,4802.0,94622.0,1209.68,744.18,386.06,1223230.0
Angola,37213552.0,24362153.0,12851399.0,0.0,3002212.0,109.68,71.78,37.87,88469.0
...,...,...,...,...,...,...,...,...,...
Wales,698563767.0,430451824.0,268111943.0,4466667.0,4593411.0,22036.72,13578.87,8457.81,1449020.0
Wallis and Futuna,198955.0,113641.0,85314.0,0.0,9875.0,1793.35,1024.35,769.00,890123.0
Yemen,2584227.0,2499271.0,84956.0,0.0,343815.0,8.47,8.19,0.28,11278.0
Zambia,29172871.0,16817256.0,9492820.0,433901.0,696952.0,154.22,88.89,50.18,36831.0
Zimbabwe,334594250.0,210305845.0,124288405.0,4634137.0,5270299.0,2217.05,1393.51,823.47,349202.0

In [4]:
# number of countries in the country_vaccinations_by_manufacturer.csv dataset
country_vaccination = pd.read_csv('country_vaccinations_by_manufacturer.csv')
len(country_vaccination.location.unique())

38

In [5]:

vacc_count_df = pd.read_csv('git collab/world-study/Resources/manufacturer_breakdown.csv')
vacc_count_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4967 entries, 0 to 4966
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          4967 non-null   int64
 1   location            4967 non-null   object
 2   date                4967 non-null   object
 3   CanSino             179 non-null    float64
 4   Johnson&Johnson     2730 non-null   float64
 5   Moderna             3787 non-null   float64
 6   Oxford/AstraZeneca  3612 non-null   float64
 7   Pfizer/BioNTech     4966 non-null   float64
 8   Sinopharm/Beijing   311 non-null    float64
 9   Sinovac             919 non-null    float64
 10  Sputnik V           327 non-null    float64
dtypes: float64(8), int64(1), object(2)
memory usage: 427.0+ KB

In [6]:
vacc_count_df.isnull().sum()

Unnamed: 0               0
location                 0
date                     0
CanSino               4788
Johnson&Johnson       2237
Moderna               1180
Oxford/AstraZeneca    1355
Pfizer/BioNTech          1
Sinopharm/Beijing     4656
Sinovac               4048
Sputnik V             4640
dtype: int64

In [7]:
pop_df = pd.read_csv('2021_population.csv')
pop_df.head()

,iso_code,country,2021_last_updated,2020_population,area,density_sq_km,growth_rate,world_%,rank
0,CHN,China,"1,445,558,229","1,439,323,776","9,706,961 sq_km",149/sq_km,0.34%,18.34%,1
1,IND,India,"1,397,131,040","1,380,004,385","3,287,590 sq_km",424/sq_km,0.97%,17.69%,2
2,USA,United States,"333,453,648","331,002,651","9,372,610 sq_km",36/sq_km,0.58%,4.23%,3
3,IDN,Indonesia,"277,151,016","273,523,615","1,904,569 sq_km",145/sq_km,1.04%,3.51%,4
4,PAK,Pakistan,"226,389,268","220,892,340","881,912 sq_km",255/sq_km,1.95%,2.86%,5

In [8]:
"""def convert_to_integer(data_value):
    value = []
    for i in data_value:
        value.append(i.replace(",",""))
        i.strip()
        i.astype('int')
    value
    data_value[]
    return """
# function to take out comma and white space and to convert string to integer
# yet to look at generalizing it for taking out other unwanted units and strings sufch as /sq_km
def convert_to_integer(data_value):
    data_value = data_value.replace(",","")#,'sq_km':'','%':''})
    data_value = data_value.strip()
    data_value = int(data_value)
    
    return data_value

In [9]:
#applying function to 2021_last_updated column
pop_df["2021_last_updated"] = pop_df["2021_last_updated"].apply(convert_to_integer)
pop_df

,iso_code,country,2021_last_updated,2020_population,area,density_sq_km,growth_rate,world_%,rank
0,CHN,China,1445558229,"1,439,323,776","9,706,961 sq_km",149/sq_km,0.34%,18.34%,1
1,IND,India,1397131040,"1,380,004,385","3,287,590 sq_km",424/sq_km,0.97%,17.69%,2
2,USA,United States,333453648,"331,002,651","9,372,610 sq_km",36/sq_km,0.58%,4.23%,3
3,IDN,Indonesia,277151016,"273,523,615","1,904,569 sq_km",145/sq_km,1.04%,3.51%,4
4,PAK,Pakistan,226389268,"220,892,340","881,912 sq_km",255/sq_km,1.95%,2.86%,5
...,...,...,...,...,...,...,...,...,...
223,MSR,Montserrat,4977,"4,992",102 sq_km,49/sq_km,-0.30%,0.00%,228
224,FLK,Falkland Islands,3533,"3,480","12,173 sq_km",0/sq_km,1.52%,0.00%,229
225,NIU,Niue,1619,"1,626",260 sq_km,6/sq_km,-0.43%,0.00%,230
226,TKL,Tokelau,1373,"1,357",12 sq_km,114/sq_km,1.18%,0.00%,231
227,VAT,Vatican City,800,801,1 sq_km,800/sq_km,-0.12%,0.00%,232

In [20]:
# merging the country vaccination dataset and population dataset
merged_data_df = pd.merge(country_vaccination_df, pop_df, how = 'outer', on ='country')
merged_data_df.tail(30)

,country,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million,iso_code,2021_last_updated,2020_population,area,density_sq_km,growth_rate,world_%,rank
229,Bosnia And Herzegovina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BIH,3257882.0,"3,280,819","51,209 sq_km",64/sq_km,-0.53%,0.04%,136.0
230,Puerto Rico,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PRI,2818204.0,"2,860,853","8,870 sq_km",319/sq_km,-1.14%,0.04%,141.0
231,Guinea Bissau,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,GNB,2028692.0,"1,968,001","36,125 sq_km",56/sq_km,2.41%,0.03%,150.0
232,Trinidad And Tobago,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TTO,1404492.0,"1,399,488","5,130 sq_km",274/sq_km,0.28%,0.02%,154.0
233,Timor Leste,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TLS,1350878.0,"1,318,445","14,874 sq_km",90/sq_km,1.93%,0.02%,155.0
234,Reunion,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RU,903412.0,"895,312","2,511 sq_km",359/sq_km,0.71%,0.01%,162.0
235,Macau,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MAC,661034.0,"649,335",30 sq_km,"21,946/sq_km",1.40%,0.01%,167.0
236,Western Sahara,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ESH,615834.0,"597,339","266,000 sq_km",2/sq_km,2.43%,0.01%,170.0
237,Martinique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MTQ,374542.0,"375,265","1,128 sq_km",332/sq_km,-0.14%,0.00%,179.0
238,Mayotte,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MYT,281342.0,"272,815",374 sq_km,747/sq_km,2.46%,0.00%,186.0
239,Sao Tome And Principe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,STP,224586.0,"219,159",964 sq_km,232/sq_km,1.92%,0.00%,187.0
240,Guam,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,GUM,170585.0,"168,775",549 sq_km,310/sq_km,0.83%,0.00%,190.0
241,Micronesia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,FSM,116559.0,"115,023",702 sq_km,166/sq_km,1.07%,0.00%,193.0
242,Saint Vincent And The Grenadines,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,VCT,111263.0,"110,940",389 sq_km,286/sq_km,0.29%,0.00%,195.0
243,United States Virgin Islands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,VIR,104124.0,"104,425",347 sq_km,300/sq_km,-0.19%,0.00%,198.0
244,Antigua And Barbuda,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ATG,98934.0,"97,929",442 sq_km,223/sq_km,0.82%,0.00%,200.0
245,Isle Of Man,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,IMN,85410.0,"85,033",572 sq_km,149/sq_km,0.44%,0.00%,201.0
246,Marshall Islands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MHL,59610.0,"59,190",181 sq_km,329/sq_km,0.71%,0.00%,206.0
247,Northern Mariana Islands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MNP,57917.0,"57,559",464 sq_km,125/sq_km,0.62%,0.00%,207.0
248,American Samoa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ASM,55100.0,"55,191",199 sq_km,277/sq_km,-0.16%,0.00%,209.0
249,Saint Kitts And Nevis,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,KNA,53544.0,"53,199",261 sq_km,205/sq_km,0.65%,0.00%,210.0
250,Faroe Islands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,FRO,49049.0,"48,863","1,393 sq_km",35/sq_km,0.38%,0.00%,211.0
251,Sint Maarten,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MAF,43412.0,"42,876",34 sq_km,"1,277/sq_km",1.25%,0.00%,212.0
252,Saint Martin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MAF,39234.0,"38,666",53 sq_km,740/sq_km,1.47%,0.00%,214.0
253,Turks And Caicos Islands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TCA,39231.0,"38,717",948 sq_km,41/sq_km,1.33%,0.00%,215.0
254,Palau,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PLW,18169.0,"18,094",459 sq_km,40/sq_km,0.41%,0.00%,220.0
255,Wallis And Futuna,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WLF,11094.0,"11,239",142 sq_km,78/sq_km,-1.29%,0.00%,224.0
256,Saint Barthelemy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BL,9907.0,"9,877",21 sq_km,472/sq_km,0.30%,0.00%,226.0
257,Saint Pierre And Miquelon,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SPM,5766.0,"5,794",242 sq_km,24/sq_km,-0.48%,0.00%,227.0
258,Vatican City,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,VAT,800.0,801,1 sq_km,800/sq_km,-0.12%,0.00%,232.0

In [19]:
# number of countries in the merged data with no value or information on vaccinations
len(merged_data_df[merged_data_df['total_vaccinations'].isna()])

37

In [21]:
merged_data_df.describe()

,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million,2021_last_updated,rank
count,2.220000e+02,2.220000e+02,2.220000e+02,2.220000e+02,2.220000e+02,222.000000,222.000000,222.000000,2.220000e+02,2.280000e+02,228.000000
mean,2.576448e+09,1.039612e+09,5.960992e+08,2.520421e+07,2.826302e+07,5434.401847,3110.853514,2065.351667,7.624702e+05,3.462749e+07,115.311404
std,1.582131e+10,4.495060e+09,2.272285e+09,1.559296e+08,1.619545e+08,6560.687853,3705.401779,2683.154051,5.412499e+05,1.382759e+08,67.032535
min,3.480000e+02,2.350000e+02,0.000000e+00,0.000000e+00,0.000000e+00,0.690000,0.530000,0.000000,0.000000e+00,8.000000e+02,1.000000
25%,3.135452e+06,2.136644e+06,9.878110e+05,1.437250e+03,2.174278e+05,323.070000,219.035000,73.630000,2.625888e+05,5.588502e+05,57.750000
50%,5.215333e+07,3.294672e+07,1.323486e+07,3.863980e+05,1.670514e+06,2281.155000,1322.620000,739.925000,7.292245e+05,5.864636e+06,114.500000
75%,6.914217e+08,4.453091e+08,2.651020e+08,7.508512e+06,1.069698e+07,9294.157500,5089.707500,3338.837500,1.245093e+06,2.221322e+07,172.250000
max,2.164707e+11,5.301997e+10,2.693359e+10,2.130992e+09,2.202201e+09,30518.550000,15657.830000,13469.800000,2.435515e+06,1.445558e+09,232.000000

In [15]:
# a look at the total number of vaccination breakdown by country (information obtained for 38 countries)
count_group_df = vacc_count_df.groupby('location').sum()
count_group_df

,Unnamed: 0,CanSino,Johnson&Johnson,Moderna,Oxford/AstraZeneca,Pfizer/BioNTech,Sinopharm/Beijing,Sinovac,Sputnik V
location,,,,,,,,,
Austria,741,0.0,3.648375e+06,1.934179e+07,3.405266e+07,1.435072e+08,0.0,0.000000e+00,0.0
Belgium,2262,0.0,5.546947e+06,2.402566e+07,5.425128e+07,2.011077e+08,0.0,0.000000e+00,0.0
Bulgaria,3900,0.0,1.701150e+06,5.732847e+06,1.203613e+07,2.732410e+07,0.0,0.000000e+00,0.0
Chile,71307,52626023.0,0.000000e+00,0.000000e+00,5.625809e+07,8.632545e+08,0.0,3.198671e+09,0.0
Croatia,16620,0.0,9.729270e+05,6.766788e+06,1.257005e+07,4.529920e+07,0.0,0.000000e+00,0.0
Cyprus,18220,0.0,3.050200e+05,1.548126e+06,5.292514e+06,1.371966e+07,0.0,0.000000e+00,0.0
Czechia,170831,0.0,1.840852e+07,1.220513e+08,1.209430e+08,1.183481e+09,0.0,0.000000e+00,0.0
Denmark,29355,0.0,7.525380e+05,1.536329e+07,4.731451e+06,1.228910e+08,0.0,0.000000e+00,0.0
Ecuador,232254,10219800.0,0.000000e+00,0.000000e+00,1.951603e+08,5.064299e+08,0.0,8.566816e+08,0.0
Estonia,42580,0.0,6.482610e+05,2.333326e+06,5.770932e+06,1.702834e+07,0.0,0.000000e+00,0.0
European Union,340133,0.0,1.348008e+09,6.019170e+09,9.557338e+09,4.724897e+10,342717886.0,0.000000e+00,295628631.0
Finland,55300,0.0,0.000000e+00,1.164779e+07,1.290592e+07,9.833124e+07,0.0,0.000000e+00,0.0
France,426857,0.0,1.009472e+08,9.918884e+08,1.163186e+09,8.124993e+09,0.0,0.000000e+00,0.0
Germany,505543,0.0,2.880574e+08,1.107867e+09,1.892115e+09,9.835906e+09,0.0,0.000000e+00,0.0
Hong Kong,457028,0.0,0.000000e+00,0.000000e+00,0.000000e+00,4.704974e+08,0.0,3.176940e+08,0.0
Hungary,87940,0.0,2.300455e+06,1.520114e+07,2.844385e+07,1.082986e+08,51064333.0,0.000000e+00,43581989.0
Iceland,650394,0.0,6.157737e+06,6.671779e+06,1.576623e+07,3.909714e+07,0.0,0.000000e+00,0.0
Ireland,100580,0.0,3.264846e+06,9.525001e+06,2.397216e+07,8.345418e+07,0.0,0.000000e+00,0.0
Italy,743233,0.0,1.707057e+08,9.833460e+08,1.621755e+09,6.840133e+09,0.0,0.000000e+00,0.0
Japan,439052,0.0,0.000000e+00,1.415208e+08,0.000000e+00,3.768902e+09,0.0,0.000000e+00,0.0
Latvia,901755,0.0,1.052766e+07,3.159382e+07,4.308156e+07,1.019916e+08,0.0,0.000000e+00,0.0
Liechtenstein,107943,0.0,0.000000e+00,4.869520e+05,0.000000e+00,2.542840e+05,0.0,0.000000e+00,0.0
Lithuania,132300,0.0,2.025469e+06,4.992719e+06,1.115902e+07,3.952789e+07,0.0,0.000000e+00,0.0
Luxembourg,133900,0.0,5.875550e+05,1.257323e+06,2.216886e+06,9.265157e+06,0.0,0.000000e+00,0.0
Malta,132093,0.0,4.072530e+05,8.986410e+05,4.877247e+06,1.020052e+07,0.0,0.000000e+00,0.0
Netherlands,137060,0.0,1.334894e+07,3.339074e+07,6.246037e+07,3.007465e+08,0.0,0.000000e+00,0.0
Norway,135174,0.0,7.078500e+04,1.505958e+07,4.336432e+06,9.457804e+07,0.0,0.000000e+00,0.0
Poland,140220,0.0,2.682257e+07,6.413652e+07,1.129409e+08,5.152992e+08,0.0,0.000000e+00,0.0
Portugal,141820,0.0,1.290566e+07,2.688714e+07,4.373748e+07,1.721495e+08,0.0,0.000000e+00,0.0
Romania,1022166,0.0,5.534249e+07,1.190320e+08,1.445019e+08,1.237845e+09,0.0,0.000000e+00,0.0
Slovakia,154460,0.0,7.038840e+05,9.175265e+06,1.892914e+07,6.301096e+07,0.0,0.000000e+00,342361.0
Slovenia,152139,0.0,1.234130e+06,3.578985e+06,6.681566e+06,2.345903e+07,0.0,0.000000e+00,0.0
South Korea,874293,0.0,1.346298e+08,1.956989e+08,1.870876e+09,1.817342e+09,0.0,0.000000e+00,0.0
Spain,162123,0.0,3.066905e+07,1.211707e+08,1.963582e+08,8.150878e+08,0.0,0.000000e+00,0.0
Sweden,167860,0.0,0.000000e+00,2.466722e+07,2.933457e+07,1.763344e+08,0.0,0.000000e+00,0.0
Switzerland,1228815,0.0,0.000000e+00,7.933703e+08,0.000000e+00,4.783987e+08,0.0,0.000000e+00,0.0
United States,1165374,0.0,2.101718e+09,2.502343e+10,0.000000e+00,3.301183e+10,0.0,0.000000e+00,0.0
Uruguay,1049436,0.0,0.000000e+00,0.000000e+00,1.049103e+07,1.997115e+08,0.0,4.627615e+08,0.0

In [16]:
count_group_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 38 entries, Austria to Uruguay
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          38 non-null     int64
 1   CanSino             38 non-null     float64
 2   Johnson&Johnson     38 non-null     float64
 3   Moderna             38 non-null     float64
 4   Oxford/AstraZeneca  38 non-null     float64
 5   Pfizer/BioNTech     38 non-null     float64
 6   Sinopharm/Beijing   38 non-null     float64
 7   Sinovac             38 non-null     float64
 8   Sputnik V           38 non-null     float64
dtypes: float64(8), int64(1)
memory usage: 3.0+ KB