In [1]:
import pandas as pd
import os

In [2]:
pathToManufacturer = os.path.join("..","Resources","country_vaccinations_by_manufacturer.csv")
pathToTotal = os.path.join("..","Resources","country_vaccinations.csv")
total_vacc_df = pd.read_csv(pathToTotal)
manufacturer_vacc_df = pd.read_csv(pathToManufacturer)

In [3]:
manufacturer_vacc_df.head()

  location        date             vaccine  total_vaccinations
0  Austria  2021-01-08     Johnson&Johnson                   0
1  Austria  2021-01-08             Moderna                   0
2  Austria  2021-01-08  Oxford/AstraZeneca                   0
3  Austria  2021-01-08     Pfizer/BioNTech               31099
4  Austria  2021-01-15     Johnson&Johnson                   0

In [27]:
total_vacc_df.head()

,country,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million,vaccines,source_name,source_website
0,Afghanistan,AFG,2021-02-22,0.0,0.0,NaN,NaN,NaN,0.0,0.0,NaN,NaN,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://app.powerbi.com/view?r=eyJrIjoiYTkyM2V...
1,Afghanistan,AFG,2021-02-23,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,34.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://app.powerbi.com/view?r=eyJrIjoiYTkyM2V...
2,Afghanistan,AFG,2021-02-24,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,34.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://app.powerbi.com/view?r=eyJrIjoiYTkyM2V...
3,Afghanistan,AFG,2021-02-25,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,34.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://app.powerbi.com/view?r=eyJrIjoiYTkyM2V...
4,Afghanistan,AFG,2021-02-26,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,34.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://app.powerbi.com/view?r=eyJrIjoiYTkyM2V...

In [29]:
total_vacc_df.drop(columns=["source_website",'source_name'])

,country,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million,vaccines
0,Afghanistan,AFG,2021-02-22,0.0,0.0,NaN,NaN,NaN,0.00,0.00,NaN,NaN,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi..."
1,Afghanistan,AFG,2021-02-23,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,34.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi..."
2,Afghanistan,AFG,2021-02-24,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,34.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi..."
3,Afghanistan,AFG,2021-02-25,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,34.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi..."
4,Afghanistan,AFG,2021-02-26,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,34.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
48108,Zimbabwe,ZWE,2021-09-26,5234875.0,3036623.0,2198252.0,16203.0,31405.0,34.69,20.12,14.57,2081.0,"Oxford/AstraZeneca, Sinopharm/Beijing, Sinovac..."
48109,Zimbabwe,ZWE,2021-09-27,5263782.0,3050981.0,2212801.0,28907.0,31282.0,34.88,20.22,14.66,2073.0,"Oxford/AstraZeneca, Sinopharm/Beijing, Sinovac..."
48110,Zimbabwe,ZWE,2021-09-28,5290317.0,3060086.0,2230231.0,26535.0,29469.0,35.05,20.28,14.78,1953.0,"Oxford/AstraZeneca, Sinopharm/Beijing, Sinovac..."
48111,Zimbabwe,ZWE,2021-09-29,5320565.0,3071643.0,2248922.0,30248.0,28149.0,35.25,20.35,14.90,1865.0,"Oxford/AstraZeneca, Sinopharm/Beijing, Sinovac..."
48112,Zimbabwe,ZWE,2021-09-30,5355820.0,3083764.0,2272056.0,35255.0,27045.0,35.49,20.43,15.05,1792.0,"Oxford/AstraZeneca, Sinopharm/Beijing, Sinovac..."

In [31]:
#https://stackoverflow.com/questions/47017310/how-do-i-convert-a-pandas-dataframe-column-of-unique-rows-into-separate-column-h
#this is wrong and nico should feel bad manufacturer_vacc_df.melt(id_vars={'date'},value_vars={'vaccine','total_vaccinations'})

clean_manu_df = manufacturer_vacc_df

clean_manu_df.head()

  location        date             vaccine  total_vaccinations
0  Austria  2021-01-08     Johnson&Johnson                   0
1  Austria  2021-01-08             Moderna                   0
2  Austria  2021-01-08  Oxford/AstraZeneca                   0
3  Austria  2021-01-08     Pfizer/BioNTech               31099
4  Austria  2021-01-15     Johnson&Johnson                   0

In [35]:
clean_manu_df = manufacturer_vacc_df.groupby(['location','date'])
clean_manu_df = pd.pivot_table(clean_manu_df,index=['location','date'],columns='vaccine',values='total_vaccinations')
clean_manu_df.head()

KeyError: 'total_vaccinations'